.logo{
    width: 0%;
    padding: 0%;
    float: left;
    list-style: none;
}
.sociais ul{
    width: 0%;
    padding: 2px;
    list-style: none;
    margin-left: 10px;
    display: flex;
    padding-left: 90%;
}
.banner{
    margin: 0 auto;
    float: left;
    list-style: none;
    
}
.column {
    float: left;
    width: 33.33%;
  }
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.col-3 {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px; 
    width: 29%;
    float: left;
    position: relative;
}
