.logo{
    width: 0%;
    padding: 0%;
    float: left;
    list-style: none;
}
.sociais ul{
    width: 0%;
    padding: 2px;
    list-style: none;
    margin-left: 10px;
    display: flex;
    padding-left: 90%;
}
.banner{
    margin: 0 auto;
    width: 100%;
    
}
.banner-img{

    width: 100%;
}
.column {
    float: left;
    width: 100%;
    border-bottom: 2px solid grey;
  }

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.col-3 {
    text-align: left;
    padding-right: 15px; 
    width: 30%;
    float: left;
    position: relative;
}

